$basic-font:'NanumBarunGothic','나눔바른고딕','맑은 고딕','Malgun Gothic',Dotum,Arial,sans-serif;
$primary-font:'NanumSquare','나눔스퀘어','NanumBarunGothic','나눔바른고딕','맑은 고딕','Malgun Gothic',Dotum,Arial,sans-serif;
$basic-color:#5d5d5d;
$primary-color:#649edb;
$hover-color:#268fe7;
$point-color:#fbd66d;
$box:border-box;
